body {
    background-color: #497174;
}

h1 {
    color:#ECE8DD;
}

h3 {
    
}


hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 2px;
    width: 10%;
}
